$color1: #c1c297;
$color2: #d1c9af;
$color3: #284368;
$color4: #4d789f;
$color5: #badcd8;

$friendlyTeamColor: $color5;
$enemyTeamColor: rgb(220, 164, 161);

@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap"); //'Permanent Marker', cursive;
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap"); //Shadows Into Light', cursive;
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap"); // font-family: 'Indie Flower', cursive;
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600&display=swap"); //font-family: 'Chakra Petch', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap"); //font-family: 'Orbitron', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;700&display=swap');

body {
  background-color: $color5;
  // background-image: url('https://lh3.googleusercontent.com/iC5rKNivUaFEznEEGWMGEtu2QlUltPAzF7lG4Q63fYEWNZ_EkFGBPdyyW4xwTbwKXLYODiGNNZpdpR7lkb9ba86BmUERRNVqZR7P4JARZcpTJDph96-jcNPjAaPB39ZTeK1GoKepiMH65hwnmPopcibYvxQUzfo1xeFbF5JfWyQbdfZ44rDEzezD-iwLIJ0fUlxxzA7wi4DQcnBmNZkwOlZH5iaISUkjrFv-xzxv1dqrqq2bsQRKN3IAE6-nYLKaooFvVJ7QuoPUEEMO4K2kHoJ5VBZdBbFXkPmCLitmBk3MOMYH-CA1icVBnTji7QOtsoODlLI0VpAh8nH-qRIriWJ7GMbwvxn3fHExUxgZ7TdlUYz5vY4YmqwK6qmFZiDhpQHZFD06LKWgVSSndicDqt7PROyyTit9Xm1PdfMfKNLS1l4qB_hsBOPp-XdodMrBqIaLANIVLtxq5dDfQtm5h-1zHjwynjxwb8E_PE-vkqZ63G5HMarBQ1khr6kaC7HLuwA1NO-DxX-g6V7qvSadcyCwL_C3rk_DM5aOk-JGbLW2MljgBplY84n2ds5j41HWmjww5PbkA6dD6Vy9gmktlG9cokcPoxPGksh_9jVADAuRBJ5xK5IagjJVOWLR5jzYrgMRZkz0qIl362gFXeksDgqFJGr0xJjJs1uypydzwW_fWKegY2w8Fo_BVPtDENb6D9hLsX0D0CYCsvwIsLIwJuAaXOhNkQzrG1rF1OmQ64ha6-lo7o6-y5ez_Yu6CybZ1tNrJ4XgF-n--V2_KvA7d1DI9FHuH5YlFSPNNXi2ratqaf3IdN4bXHz1z86Cr7aRpm95GQGvVhLZvuKdnw5wH1M9fBC98TXFN9AlTgrINVzENVSRz64fFPgVchmU-tT2znDSVgggLHt9XbnLNnLa47f_DqnFoS9abPAMR7WdAiAPCvcjzQkaG4jsVPnNPelmDvPNPoU_uzw=w1920-h1200-no?authuser=0');
  background-image: url('./assets/background-merged.jpeg');

  font-family: "Indie Flower", cursive;
  height: 100%;
  width: 100%;
  margin: 0;

  overflow-x: hidden;
}

html {
  height: 100%;
  width: 100%;
}


#app {
  width: 100%;
  height: 100%;
  margin-top: -20px;
}

.app-container {
  height: 100%;
  width: 100%;
}

.background {
  height: 100%;
  width: 100%;
}




::-webkit-scrollbar {
  background-color: rgba(128, 128, 128, 0.531);
  border-radius: 0.3rem;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(151, 176, 170);
  border-radius: 0.3rem;
}





// TYPES OF POKEMON 
.type {
  font-size: 25px;
  width: 75px;
  height: 32px;
  text-align: center;
  margin: 0 auto;
  border-radius: 0.4rem;
}

#bug {
  background-color: rgb(164, 174, 63);
}
#dark {
  background-color: rgb(84, 69, 58);
}
#dragon {
  background-color: rgb(98, 63, 238);
}
#electric {
  background-color: rgb(240, 204, 79);
}
#fairy {
  background-color: rgb(231, 128, 249);
}
#fighting {
  background-color: rgb(170, 58, 47);
}
#fire {
  background-color: rgb(220, 125, 57);
}
#flying {
  background-color: #A98FF3;
}
#ghost {
  background-color: #735797;
}
#grass {
  background-color: #7AC74C;
}
#ground {
  background-color: #E2BF65;
}
#ice {
  background-color: #96D9D6;
}
#normal {
  background-color: #A8A77A;
}
#poison {
  background-color: #A33EA1;
}
#psychic {
  background-color: #F95587;
}
#rock {
  background-color: #B6A136;
}
#steel {
  background-color: #B7B7CE;
}
#water {
  background-color: #6390F0;
}



#main-div {
  position:relative;
  z-index: 3;
  margin-top: -2.5%;

  height: 100%;
  width: 100%;
}

.inactive {
  pointer-events: none; // pointer-events not supported below IE11
  opacity: 50%;

}




// title 
.title-container {
  display: flex;
  justify-content: left;

  background-color: lighten($color5, 10%);
  text-align: left;
  height: 10%;
  width: 101%;
  margin-top: -3%;
  margin-bottom: 3%;
  margin-left: -0.5%;

  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
  border-radius: 0.5rem;

  vertical-align: middle;
}

.title-container img {
  margin-top: 1.3%;
  margin-left: 1%;
  height: 75%;
}





// top nav bar
.top-nav-bar {
  height: 4.5%;
  width: 100%;
  display: flex;
  justify-content: right;
  
  position: relative;
  top: 3%;
  z-index: 10;
}

.top-nav-bar-buttons {
  width: 30%;
  height: 100%;
  text-align: center;
  line-height: 100%;
}

.top-nav-bar-buttons-inner {
  height: 100%;
  margin-right: -35%;
}

.top-nav-bar  button{
  height: 90%;
  width: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  background-color: $color2;
  border-radius: 0.3rem;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}


.modal {
  height: 32%;
  width: 30%;
  min-height: 270px;
  min-width: 385px;
  border-radius: 0.3rem;

  position: fixed;
  left: 35%;
  top: 20%;
  background: lighten(grey, 4%);
  
  z-index: 99;

  pointer-events:all !important; // pointer-events not supported below IE11
  opacity: 90% !important;

  font-family: "Indie Flower";
}

.modal h2 {
  font-size: 3rem;
  margin: 0;
  margin-bottom: 5%;
}

.modal-form {
  text-align: center;
  font-size: 1.5rem;
  min-width: 80%;
}

.modal-form label {
  margin-right: 3%;
}

.modal-form .username-div {
  margin-bottom: 3%;
  margin-left: -13%;
  margin-top: 2%;
}

.modal-form .password-div  {
  margin-left: -13%;
  margin-bottom: 4%;
}

.modal-form .password-div label {
  margin-right: 4.5%;
}

#login-button {
  position: absolute;
  bottom: 8%;
  right: 37%;

  height: 50px;
  width: 130px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  background-color: $color2;
  border-radius: 0.3rem;
}

.modal .close-button {
  position: absolute;
  bottom: 85%;
  left: 82%;

  height: 15%;
  width: 18%;

  background-color: rgb(78, 77, 80);
  color: $color2;

  font-size: 1.4rem;
}

// loading 
#login-loading-gif {
  position: relative;
  top: -55%;
  left: 25%;

  height: 80%;
  width: 60%;
}

// error messages 
.modal h4 {   
  margin: 0;
  margin-top: -4%;
  margin-bottom: -1.5%;

  color: rgb(220, 15, 15);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  font-size: 1rem;
} 

// after login 
.after-login-username-display {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-right: -80%;

}

.after-login-username-display h2{
  height: 100%;
  color: color3;
  font-size: 1.3rem;
  line-height: 100%;
  margin-right: 3%;
  margin-top: 2%;
}

.after-login-username-display h3{
  height: 100%;
  margin-right: 7%;
  font-size: 1.5rem;
  line-height: 100%;
  color: #41746f;
  margin-top: 1.5%;
}







h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 100;
  color: rgb(89, 89, 89);
}






h1 {
  color: $color3;
  font-size: 2rem;
  margin-left: 1.5%;
  padding-top: 1.1%;
}





// serach 
.pokemon-search {
  position: relative;
  left: 45%;
  height: 8%;
  width: 40%;
  margin-right: -10%;
}

.pokemon-search form {
  height: 80%;
  margin-top: -15px;
}

.pokemon-search input {
  height: 50%;
  width: 200px;
  margin-right: 30px;
  border-radius: 0.3rem;
  background-color: lighten($color3, 50%) !important;
}

.pokemon-search button {
  height: 30px;
  width: 80px;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  font-size: 20px;
  font-weight: 500;
  color: $color3;
  background-color:$color2;

  position: relative;
  top: 5px;

  line-height: 30px;
  border-radius: 0.3rem;
}

.pokemon-search span {
  position: relative;
  top: -5px;
}

.pokemon-search button:hover {
  box-shadow: 5px 5px 5px -5px rgba(85, 167, 255, 0.88);
}

input[type="text"]
{
    font-size:20px;
    font-family: "Indie Flower", cursive;
}




// main row 
.main-row-container {
  display: flex;
  justify-content: left;
  height: 55%;
}





// saved teams 
.all-saved-teams-container {
  background-color: rgba(112, 172, 212, 0.7);
  border-radius: 0.5rem;
  width: 25%;
  height: 500px;
  margin-left: 5%;
  text-align: center;
}

.all-saved-teams-container h4 {
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;

  margin-bottom: -2px;
  margin-top: 15px;
  color: #132033;
}

.all-saved-teams-container h5 {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  
  position: relative;
  bottom: 26% ;

  height: 28%;
  width: 40%;
  background-color: rgba(75, 115, 142, 0.671);
  border-radius: 0.3rem;

  margin-bottom: 10px;

}

.all-saved-teams {
  max-height: 90%;
  min-height: 60%;
  overflow-y:auto;
  border-radius: 0.3rem;
}

.saved-team-member-container {
  height: 100%;
  width: 20%;
}

.saved-team-member {
  height: 100%;
  width: 100%;
}

.saved-team {
  // max-height: 7%;
  height: 55px;
  width: 84%;
  background-color: rgba(90, 137, 169, 0.642);
  border-radius: 0.3rem;
  margin: 0 auto;
  margin-bottom: -3%;
  margin-left: 2%;
}

.saved-team .team-members {
  position: relative;
  left: -8%;
  bottom: 40%;
  
  height: 100%;
  width: 100%;
}

.pokemon-sprite-saved-team {
  height: 95%;
  width: 94%;
}

.saved-team .first-add-button {
  height: 80%;
  width: 80%;
}


.edit-team-button {
  height: 45px;
  width: 45px;

  position: relative;
  top: -145%;
  left: 59%;
}

.edit-team-button:hover{
  transform: scale(1.3);
  transition: 0.5s;
  transition: ease-in-out;
}

// .edit-team-button:hover + .team-members {
//   background-color: rgba(45, 86, 114, 0.792);
//   margin-top: -0.7%;
//   border-radius: 0.3rem;
// }
// .team-members:hover + .edit-team-button {
//   height: 50px;
// }

.remove-team-button {
  height: 25px;
  width: 25px;

  position: relative;
  top: -164%;
  left: 55.5%;
}

.remove-team-button:hover{
  transform: scale(1.2);
  transition: 0.5s;
  transition: ease-in-out;
}

    // effects 
.need-saved-team-hover-effect:hover{
  background-color: rgba(45, 86, 114, 0.792);
  margin-top: -0.7%;
  padding-right: 1%;
  border-radius: 0.3rem;
}

.active-saved-team {
  background-color: rgba(64, 93, 112, 0.792);
  border-radius: 0.3rem;
  margin-top: -0.5%;
  padding-right: 1%;

}

// .saved-team-member-container{
//   pointer-events: none;
// }






// current pokemon
.current-pokemon-display-container {
  width: 65%;
  height: 83%;
  margin-left: 2.5%;
}

.current-pokemon-container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.current-pokemon {
  font-family: "Indie Flower", cursive;
  font-weight: 500;
  max-width: 53%;
  min-width: 53%;
  // background-image: linear-gradient(
  //   105deg,
  // hsl(63deg 65% 88%) 0%,
  // hsl(95deg 66% 88%) 10%,
  // hsl(136deg 69% 87%) 21%,
  // hsl(161deg 75% 82%) 33%,
  // hsl(177deg 76% 77%) 43%,
  // hsl(188deg 95% 76%) 54%,
  // hsl(177deg 75% 76%) 64%,
  // hsl(162deg 73% 81%) 74%,
  // hsl(138deg 65% 85%) 83%,
  // hsl(97deg 60% 86%) 92%,
  // hsl(65deg 58% 85%) 100%
  // );
  background-color: $color5;
  border-radius: 1rem;
  box-shadow: 2px 10px 25px -12px rgba(92, 11, 11, 0.88);

  position: relative;
  margin-left: 2%;
}

.current-pokemon h3 {
  text-align: center;
  margin-bottom: 10px;
}

// animation 
@keyframes rollout {
  0% { transform: scale(0.3); }
  100% { transform: none; }
}

.current-pokemon img {
  animation: rollout 1.5s;
}



// top-flexbox
.current-pokemon .top-flexbox {
  display: flex;
  justify-content: center;
  margin-bottom: -5px;
  margin-left: -35px;
}

.current-pokemon .top-flexbox h3 {
  font-size: 45px;
  margin-top: 10px;
}

.current-pokemon .top-flexbox .types {
  display: flex;
  justify-content: center;
  margin-left: 15px;
  margin-top: 20px;
}

.current-pokemon .top-flexbox .types h4 {
  font-size: 22px;
  margin-top: 5px;
  margin: 5px;
}

.top-flexbox .option-buttons {
  flex: 0.1;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 100px;
  top: -3px;
}

.top-flexbox .option-buttons button {
  height: 30px;
  width: 100px;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Chakra Petch', sans-serif;
  margin-right: -150px;
  margin-top: 2px;
  border-radius: 0.5rem;
  background-color: $color4;
  color: $color1;
}

.top-flexbox .option-buttons button:hover{
  background-color: #e6e6e6;
  transition: 0.5s;
  border: 2.3px solid black;
  cursor: pointer;
  font-weight: 90 0;
}

.option-buttons .add-to-your-team {
  color: $friendlyTeamColor !important
}
.option-buttons .add-to-your-team:hover {
  color: darken($friendlyTeamColor, 40%) !important;
}

.option-buttons .add-to-enemy-team {
  color: $enemyTeamColor !important
}
.option-buttons .add-to-enemy-team:hover {
  color: darken($enemyTeamColor,40%) !important;
}

.current-pokemon-spacer {
  flex: 0.25;
}



// main flexbox
.current-pokemon-flexbox {
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: left;
  margin-left: 10%;
}

.current-pokemon-flexbox img {
  height: 85%;
  width: 70%;
  transition: ease-in-out;
  transition: 1s;
}

.current-pokemon-flexbox img:hover {
  transform: scale(1.3);
}

.stat-chart {
  height: 100%;
  width: 130%;
  margin-top: 20px;
}

#myChart {
  height: 270px !important;
  width: 100%;
}

// left
// .current-pokemon-flexbox .info {
//   margin-top: -20px;
//   width: 250px;
//   margin-left: -10px;
//   margin-right: 15px;
// }

.outter h5 {
  font-size: 20px;
  font-family: "Orbitron", sans-serif;
  text-align: center;
}

.outter span {
  font-family: "Chakra Petch", sans-serif;
  font-size: 15px;
}

.outter h4 {
  font-size: 20px;
  font-family: "Orbitron", sans-serif;
}

.inner {
  margin-top: -10px;
  margin-bottom: -10px;
  margin-left: -30px;
  list-style-type: none;

  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
}

#inner-1 {
  display: flex;
}

.inner .row-1 {
  display: flex;
  justify-content: left;
}

.inner .row-2 {
  display: flex;
  justify-content: lett;
}

.inner li {
  margin: 5px;
  margin-left: 30px;
}

.inner h6 {
  font-size: 15px;
  margin-top: -10px;
  margin-bottom: -10px;
}

.inner p {
  font-size: 13px;
}

// stats
.stats {
  width: 90%;
  height: 100%;
  margin-left: 25px;
  margin-top: -20px;
}

.stats h5 {
  font-size: 25px;
  font-family: "Orbitron", sans-serif;
}

.stats ul {
  list-style: none;
  margin-top: -10px;
  margin-bottom: 50px;
  margin-left: -20px;
}

.stats li {
  font-size: 22px;
}





.current-pokemon-weakness-summary {
  margin-left: 1%;
  margin-top: 6%;
  margin-bottom: -15%;
  width: 100%;
}

.current-pokemon-weakness-summary h4 {
  font-size: 17px;
  margin-top: -10px;
}

.current-pokemon-weakness-summary h5 {
  font-family: 'Inconsolata';
  font-size: 15px;
  margin-top: -10px;
  font-weight: 300;
}

.current-pokemon-weakness-summary .weaknesses {
  display: flex;
  justify-content: left;
  height: 35px;
  width: 95%;

}
.current-pokemon-weakness-summary .weaknesses-inner {
  display: flex;
  justify-content: left;
  height: 100%;
}

.current-pokemon-weakness-summary .type {
  height: 25px;
  min-width: fit-content;
  max-width: 50px;
  line-height: 25px;
  margin-left: 4px;
  opacity: 70%;
}

.current-pokemon-weakness-summary .resistance-immune {
  color: white;
  font-weight: 700;
}

.current-pokemon-weakness-summary .resistance-x4 {
  font-weight: 700;
}

.current-pokemon-weakness-summary .weakness-x4 {
  font-weight: 700;
}




// current pokemon details
.current-pokemon-rightside-container {
  width: 50%;
  height: 100%;
  display: flex;
}

.pokemon-details-container {
  height: 100%;
  width: 45%;
  background-color: darken($color5, 8%);
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
}

// hover effect for each child element 
.pokemon-details-container > *:hover {
  background-color: darken($color: $color5, $amount: 2%);
  box-shadow: 8px -3px 15px 0px rgba(133,132,132,0.75);
  transform: scale(1.03);
  transition: ease-in-out;
  transition: 0.3s all ease;
}

.pokemon-details-container .active-pokemon-detail-container {
  background-color: lighten($color: $color5, $amount: 3%);
  box-shadow: 8px -3px 15px 0px rgba(133,132,132,0.75);
  transition: ease-in-out;
  transition: 0.3s all ease;
}


.pokemon-details-container h3, .pokemon-details-container h4 {
  margin: 5%;
}

    // individual sections 
      // abilities
.abilities-container {
  height: 20%;

  border: 1.3px dotted black;
  border-radius: 0.6rem;
}

.abilities-container.active-pokemon-detail-container {
  height: 80%;
}


.abilities-container h3 {
  height: 15%;
  margin: 5%;
}

.abilities-container-inner {
  height: 37%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 8%;
}

.abilities-container-inner h4 {
  line-height: 80%;
  text-align: center;

}

.abilities-container-inner .ability {
  max-width: 50%;
  min-width: 30%;
  // width: 30%;
  height: 100%;
  border: 1.3px dotted black;
  border-radius: 0.3rem;
  box-shadow: 5px 5px 30px -10px rgba(63, 63, 63, 0.88);
  display: flex;
  vertical-align: middle;
  align-items: center;
  text-align: center;
  font-size: 90%;
  margin: 1%;
}

.abilities-container.active-pokemon-detail-container .abilities-container-inner{
  height: 20%;
  margin-top: 0;
}

    // effects 
.abilities-container-inner .ability:hover {
  border: 2.3px dotted black;

}

.active-ability-highlighted {
  background-color: #8685a19c;
}

.ability-description-container {
  height: 50%;
}

.ability-description {
  height: 30%;
  color: rgb(65, 65, 65);
  font-size: 0.9rem;
  line-height: 85%;
  margin: 6%;
}


        // item
.pokemon-details-container .item-container {
  height: 14%;
  width: 100%;

  display: flex;
  justify-content: left;

  border: 1.3px dotted black;
  border-radius: 0.3rem;
  box-shadow: 5px 5px 30px -10px rgba(63, 63, 63, 0.88);
}

.item-container.active-pokemon-detail-container {
  height: 15%;
}


.pokemon-details-container .item-container h3 {
  margin: 5%;
}

.pokemon-details-container .item{
  height: 65%;
  width: 60%;
  display: flex;
  justify-content: left;
  margin-left: 5%;
  align-self: center;
}

.item-container.active-pokemon-detail-container .item{
  position: relative;
  margin-top: 1%;
  border: 1.3px dotted black;
  border-radius: 0.3rem;
  background-color: rgba(131, 162, 156, 0.217);

}

.pokemon-details-container .item-container-inner {
  height: 80%;
  width: 100%;
  position: relative;
  top: 10%;
}

.pokemon-details-container .item img {
  height: 75%;
  width: 22%;
  position: relative;
  top: 10%;
}

.pokemon-details-container .item h4 {
  position: relative;
  top: 7%;
  font-size: 0.9rem;
}


.browse-area-container {
  height: 100%;
  width: 60%;
}

.browse-items-container {
  height: 100%;
  width: 100%;
}

.browse-items-container h3 {
  text-align: center;
  font-size: 1.3rem;
  margin: 2%;
}

.search-area {
  display: flex;
  justify-content: center;
}

.search-area input {
  width: 70%;
  background-color: rgba(168, 166, 166, 0.364);
  border-radius: 0.3rem;
}

.browse-items-container .item-list {
  height: 71%;
  width: 90%;

  background-color: rgba(123, 135, 151, 0.496);
  border: 1.3px dotted black;
  border-radius: 0.3rem;

  margin: 0 auto;
  overflow-y: scroll;
}

.item-row {
  height: 12%;
  width: 98%;
  border: 1.3px dotted black;

  overflow: hidden;
}

.item-row-top {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: left;
  margin-bottom: 2%;
}

.item-row-top img {
  height: 140%;
  width: 14%;
  margin-top: -1%;
}

.item-row-top h4 {
  margin: 0;
}

.item-row-top span {
  color: rgba(126, 20, 20, 0.889);
  font-size: 1.1rem;
}

.item-row-bottom h5 {
  width: 95%;
  font-size: 0.65rem;
  line-height: 100%;
  margin: 0;
  margin-left: 3%;
}


.item-row:hover{
  background-color: rgba(144, 176, 205, 0.66);
  border: 2px dotted rgba(80, 80, 80, 0.814);
}

.active-item-browse-area {
  background-color: rgba(175, 212, 222, 0.66);
  border: 2px dotted rgba(80, 80, 80, 0.814);
}

.item-selected {
  height: 11%;
  width: 90%;
  margin: 0 auto;
  border-radius: 0.3rem;
  margin-top: 1%;
  margin-bottom: 1%;

  border: 1.3px dotted black;
  background-color:#c4e1de87;
}

.item-selected-placeholder {
  height: 11%;
  width: 90%;
}









        // moves
.moves-container {
  height: 35%;
  width: 100%;

  border: 1.3px dotted black;
  border-radius: 0.3rem;
  box-shadow: 5px 5px 30px -10px rgba(63, 63, 63, 0.88);
}

.moves-container h3 {
  margin-bottom: 2%;
}

.moves-container .types-colors-inner {
  height: 3px;
  width: 10%;
  opacity: 70%;
}

.moves-container-row {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: left;
  margin-top: 2.5%;
}

.move-container h4 {
  line-height: 90%;
  text-align: center;
}

.move-container {
  width: 50%;
  height: 100%;

  background-color: rgba(128, 128, 128, 0.451);
  border: 1.3px dotted black;
  border-radius: 0.3rem;
  box-shadow: 5px 5px 30px -10px rgba(63, 63, 63, 0.88);
  margin: 1%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.move-container-top-row {
  display: flex;
  justify-content: left;
}

.active-move-container {
  background-color: rgba(107, 116, 111, 0.639);
  box-shadow: 2px 2px 20px -10px rgba(63, 63, 63, 0.88);
}


.browse-moves-container {
  height: 100%;
  width: 100%;
}

.browse-area-container h3 {
  margin: 2%;
  text-align: center;
}

.browse-moves-container .moves-list {
  height: 71%;
  width: 90%;

  background-color: rgba(123, 135, 151, 0.496);
  border: 1.3px dotted black;
  border-radius: 0.3rem;

  margin: 0 auto;
  overflow-y: scroll;
}

.move-row {
  height: 12%;
  width: 98%;
  border: 1.3px dotted black;

  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.move-row-top {
  height: 40%;
  width: 100%;
  // display: flex;
  // justify-content: left;
  margin-bottom: 2%;
  line-height: 90%;
}

.move-row-top h4 {
  height: 60%;
  width: 40%;
  position: relative;
  top: 15%;
  left: 2%;
}

.move-row-top .type-symbol {
  height: 85%;
  width: 16%;
  
  position: relative;
  left: 42%;
  top: -50%;
}

.move-row-top .category-symbol {
  height: 80%;
  width: 13%;
  
  position: relative;
  left: 43%;
  top: -52%;
}

.move-row-top .basepower {
  width: 10%;
  position: relative;
  left: 73%;
  top: -150%;
  text-align: center;
}

.move-row-top .accuracy {
  width: 10%;
  position: relative;
  left: 84%;
  top: -210%;
  text-align: center;

}

.move-row-top h4 {
  margin: 0;
  font-size: 0.9rem;
}

.move-row-top span {
  color: rgba(126, 20, 20, 0.889);
  font-size: 1.1rem;
}

.move-row-bottom {
  margin-top: 1%;
}

.move-row-bottom h5 {
  width: 95%;
  font-size: 0.75rem;
  line-height: 100%;
  margin: 0;
  margin-left: 3%;
  margin-bottom: -10%;
}


.move-row:hover{
  background-color: rgba(144, 176, 205, 0.66);
  border: 2px dotted rgba(80, 80, 80, 0.814);
}

.active-move-browse-area {
  background-color: rgba(175, 212, 222, 0.66);
  border: 2px dotted rgba(80, 80, 80, 0.814);
}

.move-selected {
  height: 11%;
  width: 90%;
  margin: 0 auto;
  border-radius: 0.3rem;
  margin-top: 1%;
  margin-bottom: 1%;

  border: 1.3px dotted black;
  background-color:#c4e1de87;
}

.move-selected-placeholder {
  height: 11%;
  width: 90%;
}






        // EVS
.evs-container {
  height: 30%;
  width: 100%;

  border: 1.3px dotted black;
  border-radius: 0.3rem;
  box-shadow: 5px 5px 30px -10px rgba(63, 63, 63, 0.88);
}




// browse area for items and moves 
.browse-area-container {
  width: 60%;
  height: 130%;
  background-color: rgba(128, 128, 128, 0.308);
  border-radius: 0.5rem;
}











// .more-info-container {
//   width: 70%;
//   margin-left: 15%;
// }

// .more-info {
//   display: flex;
//   justify-content: center;
//   background-image: linear-gradient(
//   180deg,
//   hsl(346deg 86% 72%) 0%,
//   hsl(329deg 70% 69%) 4%,
//   hsl(303deg 45% 66%) 10%,
//   hsl(264deg 57% 70%) 22%,
//   hsl(228deg 71% 70%) 62%,
//   hsl(207deg 80% 57%) 81%,
//   hsl(209deg 75% 58%) 89%,
//   hsl(210deg 70% 59%) 94%,
//   hsl(212deg 66% 59%) 97%,
//   hsl(213deg 61% 60%) 99%,
//   hsl(215deg 56% 60%) 100%
// );
//   box-shadow: 12px 10px 30px -10px rgba(42, 5, 98, 0.88);
//   margin-top: 20px;
//   border-radius: 1rem;

// }

// .more-info h4 {
//   font-size: 20px;
//   font-family: "Orbitron", sans-serif;

// }

// .more-info h5 {
//   font-size: 13px;
//   font-family: "Orbitron", sans-serif;
//   margin-bottom: -10px;

// }
// // teammates
// .common-teammates {
//   width: 400px;
//   text-align: center;
//   margin-left: -100;
//   margin-right: 100px;
// }

// .common-teammates-inner {
//   display: flex;
//   justify-content: center;
//   margin-top: -35px;
//   font-family: "Chakra Petch", sans-serif;
//   font-size: 15px;
// }

// .common-teammates-inner div {
//   margin-left: 20px;
// }

// .more-info img {
//   margin-left: 10px;
//   transition: ease-in-out;
//   transition: 1s;
// }

// .more-info img:hover {
//   // transform: scale(1.5);
// }

// // counters
// .common-counters {
//   width: 400px;
//   text-align: center;
//   margin-right: -50px;
//   margin-left: 100px;
// }

// .common-counters-inner {
//   display: flex;
//   justify-content: center;
//   margin-top: -35px;
//   font-family: "Chakra Petch", sans-serif;
//   font-size: 15px;
// }

// .common-counters-inner div {
//   margin-right: 30px;
// }








// team display 
.teams {
  margin-top: 2.2%;
  display: flex;
  justify-content: center;

  height: 18%;
  width: 100%;

  position: relative;
}

.teams h4 {
  margin-top: 2px;
  margin-bottom: 1.5%;
  font-size: 25px;
  text-align: center;
  font-family: "Indie Flower", cursive;
  font-weight: 500;

  width: 40%;
  position: relative;
  left: 30%;

}

.switch-teams-button-container {
  
}

.switch-teams-button-container img {
  position: relative;
  top: 30%;
  height: 50px;
  width: 50px;
}

.green {
  margin-right: 2%;
  margin-left: 0.5%;
  padding-bottom: 1%;

  width: 47%;
  height: 100%;  
  background-color: rgba($friendlyTeamColor, 1);
  border-radius: 1rem;
  box-shadow: 5px 5px 30px -10px rgba(63, 63, 63, 0.88);

}


.red {
  margin-left: 2%;
  margin-right: 0.5%;
  padding-bottom: 1%;

  width: 47%;
  height: 100%;
  background-color: rgba($enemyTeamColor, 1);
  border-radius: 1rem;
  box-shadow: 5px 5px 30px -10px rgba(63, 63, 63, 0.88);

}


.teams .team-members {
  display: flex;
  flex-direction: row;
  margin-left: 1%;

  height: 100%;
  width: 98%;
}

// for saved teams (for some reason)
.team-members {
  display: flex;
  flex-direction: row;
  margin-left: 7%;

  height: 100%;
  width: 98%;
}

.team-member-container:nth-child(1) {
  -webkit-animation-delay:0.26s;
  animation-delay:0.1s;
}
.team-member-container:nth-child(2) {
  -webkit-animation-delay:0.6s;
  animation-delay:0.3s;
}
.team-member-container:nth-child(3) {
  -webkit-animation-delay:0.76s;
  animation-delay:0.5s;
}
.team-member-container:nth-child(4) {
  -webkit-animation-delay:2s;
  animation-delay:0.7s;
}
.team-member-container:nth-child(5) {
  -webkit-animation-delay:2.26s;
  animation-delay:0.9s;
}
.team-member-container:nth-child(6) {
  -webkit-animation-delay:2.26s;
  animation-delay:1s;
}

@-webkit-keyframes fadeIn  {
  0% {
     opacity:0;
  }
  
  75% {
     opacity:0.7;
  }
  
  100% {
     opacity:2;
  }

}

.team-member-container {
  height: 100%;
  width: 100%;
  min-height: 105px;

  -webkit-animation:fadeIn 0.4s linear;
  animation:fadeIn 1s linear;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both;
}

.team-member {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 98%;

  margin: 5px;
}

.team-member .remove-button {
  position: relative;
  height: 12%;
  width: 13%;

  margin-top: -13%;
  margin-left: -15%;
}

.pokemon-sprite-class-small {
  // min-height: 70px;
  // min-width: 70px;
  // max-height: 110px;
  // max-width: 110px;

  // position: relative;
  height: 65%; 
  width: 100%;
  border-radius: 1rem;

  // top: 50%;

  transition: ease-in-out;
}

.pokemon-sprite-class-small:hover{
  transform: scale(1.1);
  transition: ease-in-out;
  transition: 0.5s;
  background-color: rgba(67, 126, 116, 0.409);
  margin-top: -1.5%;
  padding-bottom: -30px;
  border-radius: 2.3rem;
  box-shadow: 2px 5px 20px -10px rgba(42, 5, 98, 0.88);

}

.need-active-team-member-hover-effect{
  transform: scale(1.1);
  transition: ease-in-out;
  transition: 0.5s;
  background-color: rgba(67, 126, 116, 0.658);
  margin-top: -1.5%;
  padding-bottom: -30px;
  border-radius: 1.8rem;
  box-shadow: 2px 5px 20px -10px rgba(42, 5, 98, 0.88);

}

.team-member-container .types-colors {
  display: flex;
  justify-content: center;
  position: relative;
  top: -35%;
}

.team-member-container .types-colors-inner {
  width: 20px;
  height: 5px;
  margin: 2px;
}

.teams .save-buttons-container {
  position: relative;
  left: 60%;
  bottom: 125%;
  
}

.teams button {
  height: 28px;
  width: 80px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  background-color: rgba(99, 133, 99, 0.721);
  color: rgb(41, 42, 42);
  border-radius: 0.3rem;

}

#main-div > div.teams > div.green > div.save-buttons-container > button.save-team-as-new-button {
  width: 120px;
  margin-left: 5%;
}

button:hover{
  background-color: #e6e6e6;
  transition: 0.5s;
  border: 2.3px solid black;
  cursor: pointer;
  font-weight: 90 0;
}

#need-team-member-hover-effect:hover{
  // background-color: rgba(67, 126, 116, 0.658);
  // margin-top: -1.5%;
  // padding-bottom: -30px;
  // border-radius: 0.3rem;
  // transform: scale(1.1);
  // transition: 1s;
}







// show typing chart button 
.show-chart-button-container {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 15px;
  height: 40px;
}

.show-chart-button-area button{
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 23px;
  background-color: $color2;
  border-radius: 0.3rem;
}




// match up chart 
.matchup-chart-container{
  background-color: color4 !important;
  display: flex;
  justify-content: center;
  margin-left: 20px;
}

.matchup-chart {
  background-color: $color4;
  width: 70%;
  padding-left: 2.1%;
}

.row-outter {
  display: flex;
  margin-left: -10%;
}

.row-outter-legends {
  margin-left: -4%;
}

.row-inner {
  display: flex;
  justify-content: center;
  width: 100%;
}

.chart-legends {
  width: 80%;
  margin-left: 20px;
  text-align: center;

  font-family: "Indie Flower", cursive;
  font-weight: 700;
  font-size: 1.2rem;
}

.box {
  margin-left: 2.3%;
  margin-right: 2.3%;

  display: flex;
  justify-content: center;

  border: rgb(39, 39, 39);
  border-width: 0.5;
  border-style: solid;

  padding-left: 1rem;
  margin-left: 0;
  margin-right: 0;

  width: 80%;
  text-align: center;

  font-family: "Indie Flower", cursive;
  font-weight: 700;
  font-size: 1rem;
}

.weakness-025 {
  background-color: rgb(60, 156, 60);
}

.weakness-05 {
  background-color: rgb(159, 247, 159);
}

.weakness-0 {
  background-color: #1f1f1f;
  color: white;
}

.weakness-2 {
  background-color: rgb(243, 91, 91);
}

.weakness-4 {
  background-color: rgb(127, 0, 0);
}

.chart-sprite {
  height: 80px;
  width: 80px;
}

