// defining global variables such as theme colors 
$color1: #c1c297;
$color2: #d1c9af;
$color3: #284368;
$color4: #4d789f;
$color5: #badcd8;

$friendlyTeamColor: $color5;
$enemyTeamColor: rgb(220, 164, 161);

$currentPokemonDetailColor: #9fcec9;

$bug-color
  : rgb(164, 174, 63);

$dark-color 
  : rgb(84, 69, 58);

$dragon-color 
  : rgb(98, 63, 238);

$electric-color
  : rgb(240, 204, 79);

$fairy-color 
  : rgb(231, 128, 249);

$fighting-color 
  : rgb(170, 58, 47);

$fire-color 
  : rgb(220, 125, 57);

$flying-color 
  : #A98FF3;

$ghost-color 
  : #735797;

$grass-color 
  : #7AC74C;

$ground-color 
  : #E2BF65;

$ice-color 
  : #96D9D6;

$normal-color 
  : #A8A77A;

$poison-color 
  : #A33EA1;

$psychic-color 
  : #F95587;

$rock-color 
  : #B6A136;

$steel-color 
  : #B7B7CE;

$water-color 
  : #6390F0;