/* Styles for TopNavBar */
@import './global.scss';

// top nav bar
.top-nav-bar {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lighten(#badcd8, 10%);

  box-shadow: 5px 5px 10px 0px rgba(96, 107, 119, 0.75);

  vertical-align: middle;
}

.top-title {
  position: relative;
  left: 3%;
  line-height: 100%;
  font-size: 65%;
}

.electabuzz-logo {
  height: 70%;
  width: 8%;
  position: relative;

  top: 1%;
  left: 5%;
}

.search-bar-container{
  height: 70%;
  width: 38%;
  min-width: 23%;
  position: relative;
  top: 0.5%;
  left: 18%;
  margin: 0;
}



.volume-label {
  position: relative;
  margin-left: 24%;
}



#volume-slider {
  width: 7%;
  min-width: 7%;
  height: 50%;
  z-index: 10;
  position: relative;
  left: 1%;
  cursor: pointer;
}

#volume-slider::-webkit-slider-runnable-track {
  background-color: rgba(87, 91, 97, 0.624);
  border-radius: 0.5rem;
}
#volume-slider::-webkit-slider-thumb {
  transform: scale(1.4);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 1rem;
  -webkit-appearance: none;
  position: relative;

}


.top-nav-bar-buttons {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 100%;
  font-size: 80%;
}

.top-nav-bar-buttons-inner {
  height: 100%;
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-nav-bar-buttons button {
  height: 50% ;
  margin-left: 2%;
  font-size: 60%;
  display: inline-flex;
  align-items: center;
  
  
}



// .electabuzzes {
//   height: 17%;
//   width: 8%;

//   position: absolute;
//   left: 27%;
//   top: 0%;
  
//   animation: electabuzz 8s infinite;
// }

// @keyframes electabuzz {
//   0% {
//     transform: translateX(-5px);
//   }
//   50% {
//     transform: translateX(780px) scaleX(-1);
//   }
//   100% {
//     transform: translateX(-5px);
//   }
// }



